@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    overflow-wrap: break-word;
}
a{
    color: #119af0;
}
.container{
    max-width: 900px;
    margin: auto;
}
#header{
    background-color: #efefef;
}
#header .nr{
    flex-direction: column;
}
.nr{
    display: flex;
}
.header{
    background-color: #d3d3d3;
    padding: 40px 20px;
}
.header h1{
    font-size: 30px;
    font-weight: 300;
    color: #424242;
}
.header h1 a{
    text-decoration: none;
}
.header h1:hover a{
    color: #bbb;
}
.menu{
    padding: 10px 20px;
    border-top: 1px solid #bbb;
    border-bottom: 1px solid #bbb;
    background-color: #e0e0e0;
}
.menu ul{
    list-style: none;
    float: right;
}
.menu ul li{
    float: left;
}
.menu ul li a{
    display: inline-block;
    padding: 3px 10px;
    color: #424242;
    text-decoration: none;
    font-size: 15px;
}
.active{
    color: #fff !important;
    background-color: #119af0;
    border-radius: 5px;
}
/* contect */
.left{
  flex: 1 0 35%;
  padding: 20px;
}
.right{
  flex: 1 0 65%;
  padding: 20px;
}
.right b{
    font-weight: 600;
}
.right p,
.right ul,
.right h2{
    margin-bottom: 20px;
}
#content h2{
    font-size: 24px;
    color: #424242;
    margin-bottom: 20px;
    line-height: 1.6em;
    font-weight: 400;
}
#content ul li {
    margin-bottom: 10px;
    list-style: auto;
    list-style-position: inside;
}
#content p,
#content ul{
    font-size: 15px;
    color: #424242;
    line-height: 1.6em;
}
.info{
    border: 1px solid #ddd;
    border-radius: 7px;
    padding: 20px;
    margin-bottom: 20px
}
@media only screen and (max-width: 670px){
    .nr {
        flex-direction: column;
    }
    .header h1 {
        font-size: 23px;
    }
}